<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
 <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
  
</head>

<body>
 <div class="login">
	<h1>Predict  Delhi PM 2.5  Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="p1" placeholder="panipat pm 2.5" required="required" />
      <input type="text" name="p2" placeholder="Bhiwani pm 2.5" required="required" />
      <input type="text" name="p3" placeholder="rohtak pm 2.5" required="required" />
      <input type="text" name="p4" placeholder="patiala pm 2.5" required="required" />
      <input type="text" name="p5" placeholder="ludhiana pm 2.5" required="required" />
      <input type="text" name="p6" placeholder="kaithal pm 2.5" required="required" />
      <input type="text" name="p7" placeholder="karnal pm 2.5" required="required" />
      <input type="text" name="p8" placeholder="hisar pm25" required="required" />
      <input type="text" name="p9" placeholder="jind pm25" required="required" />
      
      

        <button type="submit">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
